@font-face {
    font-family: 'Optima';
    src: url('../static/fonts/unicode.optima.ttf');
}

body {
  background-color: #fcfdf0;
}

h1 {
  font-family: Optima;
}

#navlogo {
  width: 150px;
}

nav {
  width: 100%;
  background-color: white;
}

.title {
  color: rgb(54, 54, 54);
  text-align: center;
  margin-top: 50px;
}

.paragraph {
  color: rgb(54, 54, 54);
  max-width: 70%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-size: 16px;
}

.titleleft {
  color: rgb(54, 54, 54);
  margin-top: 50px;
  max-width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.paragraphleft {
  color: rgb(54, 54, 54);
  max-width: 80%;
  margin-left: auto;
  margin-right: auto;
  font-size: 16px;
}

#buttons {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.button {
  display: inline-block;
  font-size: 16px;
  color: white;
  background-color: #384861;
  padding: 20px;
  margin-top: 20px;
}

.button2 {
  display: inline-block;
  font-size: 16px;
  color: #384861;
  border: #384861 solid 1px;
  padding: 10px;
  margin-top: 50px;
}

.button2 a {
  color: #384861;
  text-decoration: none;
}

.button a {
  color: white;
  text-decoration: none;
}

.step2icons {
  display: flex;
}

.icon{
  width: 14px;
  margin-right: 10px;
}

.iconbutton{
  width: 14px;
  display: block;
  margin: auto;
}

.key {
  margin: 10px;
  width: 30%;
}

table {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
  font-size: 16px;
}

th {
  text-align: left;
  padding: 10px;
  background-color: #384861;
  color: white;
}

td {
  padding: 5px;
  background-color: rgb(235, 235, 235);
}

.editing {
  background-color: white;
  padding: 5px;
}

.modal{
  position: fixed;
  z-index:1;
  left: 0;
  top:0;
  width:100%;
  height: 100%;
  overflow:auto;
  background-color:rgba(0,0,0,0.4);
}

.modalcontent {
  background-color: #fefefe;
  margin: 5%;
  padding: 20px;
  width: 70%;
  height: 80%;
  display: block;
  margin: 20px auto;
}

#close {
  z-index:1;
  color: white;
  text-align: center;
  max-width: 70%;
  margin-left: auto;
  margin-right: auto;
  font-size: 32px;
}

.hidden {
  display: none;
}

.details {
  text-align: center;
  color: #DE8000;
}

.flex {
  display: flex;
}

.flex iframe {
  height: 500px;
  width: 70%;
  margin-right: 30px;
  margin-top: 30px;
}
