<!DOCTYPE html>
<html lang="en">
<head>
  <link href="../static/main.css" type="text/css" rel="stylesheet" />
  <meta charset="UTF-8">
  <title>Re-entry Tool</title>
<body>
  <nav>
    <img id="navlogo" src="../static/images/nlslalogo.png">
  </nav>

  <h1 class="title">
    NLSLA Re-entry Tool
  <h1>
  <p class="paragraph">Input a criminal record or “rap sheet” into this tool to
    see what crimes can be expunged from a person’s history based on California laws.
  </p>
  <div id="buttons">
    <p class="button"><a href="http://www.nlsla.org/">Learn More</a></p>
    <p class="button"><a href="step1.html">Get Started<a></p>
  <div>
</body>
</html>
