<!DOCTYPE html>
<html lang="en">
<head>
  <link href="../static/main.css" type="text/css" rel="stylesheet" />
  <meta charset="UTF-8">
  <title>Re-entry Tool</title>
<body>
  <nav>
    <img id="navlogo" src="../static/images/nlslalogo.png">
  </nav>
  <div class="flex">
    <div id = "uploadtext">
      <h1 class="titleleft">Step 1: Upload File</h1>
      <p class="paragraphleft">For best results, upload a single, clearly legible scan or image of your criminal record or “rap sheet”.</p>
      <p class="button reupload"><a href="http://www.nlsla.org/">Reupload File</a></p>
    </div>
    <iframe src="../static/images/placeholderfile.pdf"></iframe>
  </div>
  <div id="buttons">
    <p class="button2"><a href="index.html">Back</a></p>
    <p class="button2"><a href="step2.html">Next<a></p>
  <div>
</body>
</html>
