<!DOCTYPE html>
<html lang="en">

<head>
  <!--
  <script>
      function setup() {
                 document.getElementById("buttonid").addEventListener("click", openDialog);
                 function openDialog() {
                     document.getElementById("fileid").click();
                 }
                 document.getElementById("fileid").addEventListener("change", submitForm);
                 function submitForm() {
                     document.getElementById("formid").submit();
                 }
             }
  </script>
-->
  <link href="../static/main.css" type="text/css" rel="stylesheet" />
  <meta charset="UTF-8">
  <title>Re-entry Tool</title>
<body onload="setup()">
  <nav>
    <img id="navlogo" src="../static/images/nlslalogo.png">
  </nav>
  <div class="flex">
    <div id = "uploadtext">
      <h1 class="titleleft">Step 1: Upload File</h1>
      <p class="paragraphleft">For best results, upload a single, clearly legible scan or image of your criminal record or “rap sheet”.</p>
      <!-- form id="formid" action=“form.php” method=“POST” enctype=“multipart/form-data”>
           <input id="fileid" type="file" name="filename" hidden/>
           <input id="buttonid" type="button" value="File Upload" />
           <input type="submit" value="Submit" />
       </form> -->
   <form method=post enctype=multipart/form-data>
      <input type=file name=file>
      <input type=submit value=Upload>
    </form>
    </div>
<!--     <embed src="{{ filepath }}" width="600" height="500" alt="pdf" pluginspage="http://www.adobe.com/products/acrobat/readstep2.html"> -->
  </div>
  <div id="buttons">
    <p class="button2"><a href="{{ back }}">Back</a></p>
    <p class="button2"><a href="{{ next }}">Next<a></p>
  <div>
</body>
</html>



   
